@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family:  'Inter',Arial, Helvetica, sans-serif;
} 

/* Garante que todos os textos herdem a cor branca por padrão */


/* Corrige inputs/selects/textareas para texto claro */
/* input, select, textarea {
  color: #f5f5f5;
  background-color: #18181b;
} */
td,tbody{
  color:#610e5c;
}
.history-table td,tbody{
color: white;
}
.history-table th{
  color: white;
  background-color: #610e5c;
  }
  .history-table {
    border-radius: 15px;
    }
.recharts-wrapper {
  color: hsl(var(--foreground)) !important;
}

.recharts-text {
  fill: hsl(var(--muted-foreground)) !important;
}
.btn-checkin{
  color: #f5f5f5;
}
.btn-checkout{
  color: #f5f5f5;
}
.recharts-cartesian-axis-tick-value {
  fill: hsl(var(--muted-foreground)) !important;
}

/* Tooltip customizado para gráficos */
.recharts-tooltip-wrapper {
  outline: none !important;
}

/* Corrige placeholder para texto claro */
::placeholder {
  color: #b3b3c6;
  opacity: 1;
}
